@import './../../vars.scss';

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .form-container {
    padding: 20px;
    border-radius: 20px;
  }

  .form-flex {
    display: grid;

    form {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 20px;
    }
  }
}